.container{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 1=0px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin: 50px auto;
}
h1{
    font-size: 24px;
    color: #524444;
    margin-bottom: 20px;
}
.search-box{
    margin-bottom: 20px;

}
#city{
    padding: 10px;
    width: calc(100% - 22px);
    margin-right: 10px;
    border: 2px solid #bba5a5;
    border-radius:4px;
}
#search-btn{
    padding: 10px;
    cursor: pointer;
    background-color: #007BFE;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
}
@media (max-width: 600px){
    .container{
        width: 100%;
        margin: 20px;
    }
    #city{
        width: calc(100% - 20px);
    }
    #search-btn{
        width: 100%;
        margin-top: 10px;
    }
}

